/* Sharp Industrial Scrollbar */
.scrollbar-hide::-webkit-scrollbar { display: none; }
nav#exec-sidebar-nav { scrollbar-width: none; }

/* Custom Animation for Accordion */
.rotate-180 { transform: rotate(180deg); }

/* Active Menu Style */
.menu-active {
  background-color: #09090b !important;
  color: white !important;
  border-left-color: #d97706 !important;
}
